body{
    font-family: 'Poppins', sans-serif;
    background-color: #030637; 
}

#center{
    min-width: 600px;
    max-width: 1920px;
    height: fit-content;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#Headlines{
    background-color: black;
    padding-bottom: 20px;
}

h1, h2{
    text-align: center;
    margin: 0;
    color: white;
    font-size: medium;
    cursor: default;
}

h1{
    font-size: 75px;
    margin-bottom: -30px;
}

span:hover, a:hover{
    background: url(https://i.gifer.com/7HHu.gif);
    background-size: cover;
    background-clip: text;
    color: transparent;
    transition: 500ms;
}

.button{
    display: inline-block;
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    margin: 10px 20px 0 0;
    transition: 500ms;
    text-align: center;
}

.button:hover{
    box-shadow: rgba(255, 249, 249, 0.4) 5px 5px, rgba(255, 249, 249, 0.3) 10px 10px, rgba(255, 249, 249, 0.2) 15px 15px, rgba(255, 249, 249, 0.1) 20px 20px;
}

.buttona{
    color: white;
    text-decoration: none;
    margin: 10px 20px 0 0;
    float: left;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.button_img{
    width: 100%;
    height: 200px;
    background-color: white;
    float: left;
}

a{
    color: inherit;
    text-decoration: inherit;
}

.redirects{
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
}

#content{
    width: 100%;
    min-height: 500px;
}

#footer{
    width: 100vw;
    height: 1000px;
    background-color: black;
    z-index: -1;
    margin-top: -580px;
}

#members{
    margin: 0 auto;
    width: 100%;
    height: fit-content;
    position: relative;
}

#spm{
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    overflow: hidden; 
}

.headline{
    font-size: 45px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    letter-spacing: -2px;
    text-align: center;
    color: white;
    cursor: default;
    margin: 0;
}

.member{
    background-color: white;
    width: 200px;
    min-height: 300px;
    padding-top: 10px;
    float: left;
    margin: 10px 35px 0 0;
    box-shadow: rgba(255, 249, 249, 0.4) 5px 5px, rgba(255, 249, 249, 0.3) 10px 10px, rgba(255, 249, 249, 0.2) 15px 15px, rgba(255, 249, 249, 0.1) 20px 20px, rgba(255, 249, 249, 0.05) 25px 25px;
}

.picture{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.code_D001{
    background-image: url(https://dmatteam.github.io/MDteam/PFP/D.png);
}

.code_M002{
    background-image: url(https://dmatteam.github.io/MDteam/PFP/M.png);
}

.code_A003{
    background-image: url(https://dmatteam.github.io/MDteam/PFP/A.png);
}

.code_T004{
    background-image: url(https://dmatteam.github.io/MDteam/PFP/T.png);
}

.code_T005{
    background-image: url(https://dmatteam.github.io/MDteam/PFP/E.png);
}

.description{
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.name{
    font-weight: bold;
}

#about{
    margin: 0 auto;
    margin-top: 45px;
    width: fit-content;
    height: fit-content;
    position: relative;
    color: white;
    text-align: center;
}